.deps
.dirstamp
.vscode
*.cbp
*.depend
*.layout
*.log
*.o
*.tar.gz
*.trs
*~
aclocal.m4
autom4te.cache
bin
config.h
config.status
depend
Makefile
tmp
obj
oneway
oneway.cbp
stamp-h1
onewaytests
build-number.h
.libs/liboneway.a
.libs/liboneway.la
.libs/liboneway.lai
.libs/liboneway.so
.libs/liboneway.so.0
.libs/liboneway.so.0.0.0
liboneway.la
libgcc_s_seh-1.dll
libstdc++-6.dll
oneway.exe
libtool
